@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
            /*주석*/

            * {
                margin: 0;
                padding: 0;
            }

            /*Login css*/
            .wrap {
                background-image: url(../img/subway.png);
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
            }
            .form-wrap {
                width: 380px;
                height: 600px;
                position: relative;
                margin: 90px auto;
                border-radius: 50px;
                background: transparent;
                padding: 5px;
                overflow: hidden;
            }
            .input-group {
                top: 210px;
                position: absolute;
                width: 280px;
                transition: .5s;
            }
            .input-field {
                width: 100%;
                padding: 10px 0;
                margin: 0 0 20px 0;
                border: none;
                border-bottom: 2px solid #999;
                outline: none;
                background: transparent;

            }
            .input-field:hover{
                border-bottom: 2px solid #5f9ea0;
            }
            .page1_button{
                display: flex;
            }
            .goregisterbtn {
                font-style: italic;
                font-weight: bold;
                cursor: pointer;
                padding: 10px 10px;
                margin: 0px 20px;
                background: transparent;
                border: 2px solid #53a97f;
                outline: none;
                border-radius: 15px;
            }
            .loginbtn{
                font-weight: bold;
                cursor: pointer;
                padding: 10px 70px;
                margin: 0;
                background: linear-gradient(to bottom, #5f9ea0, #53c072);
                border: 0;
                outline: none;
                border-radius: 15px;
            }
            .registerbtn{
                font-weight: bold;
                cursor: pointer;
                padding: 10px 30px;
                margin: auto;
                background: linear-gradient(to bottom, #5f9ea0, #53c072);
                border: 0;
                outline: none;
                border-radius: 15px;
            }
            .form-check{
                margin: 5px 10px 60px 0;
                font-size: small;
                color: #777;
            }
            #login {
                left: 50px;
            }

            #register {
                left: 450px;
            }

            /*Line_choice css*/
            #choice_box {
                margin: auto;
                margin-top: 100px;
                width: 1120px;
                height: 280px;
                background: url("../img/map.png");
            }
            #choice_box .line_box {
                width: 140px;
                height: 140px;
                float: left;
            }
            #choice_box #line_btn {
                display: block;
                height: 90px;
                width: 90px;
                margin: 25px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                background: linear-gradient(to bottom, #5f9ea0, #53c072);
                color: #fff;
                font-family: 'Gugi', cursive;
                font-size : 15px;
                transition: all 0.3s;
            }
            #choice_box #line_btn:hover {
                transform: scale(1.1);
            }



            /*Line_base css*/

            #list_wrap {
                width: 800px;
                height: 500px;
                margin: auto;
            }
            #list_wrap.on {
                background:#fff;
            }
            .logo button {
                font-family: 'Gugi', cursive;
                padding-top: 80px;;
                color: #2ea969;
                font-size: 80px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                display: block;
                margin: auto;
                background: #fff;
                transition: all 0.3s;

                animation-name: Updonw;
                animation-duration: 1s;
                animation-delay: 0s;
                animation-direction: alternate;
                animation-iteration-count: infinite;

            }

            @-webkit-keyframes Updonw {
                0% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(-10px);
                }
            }

            .logo button:hover {
                animation-name: Updonw;
                animation-play-state: paused;
            }

            #header {
                height: 100px;
                margin-top: 20px;
            }
            #header .nav {
                height: 100%;
                width: 1500px;
                margin: auto;
            }
            #header .nav button {
                display: block;
                float: left;
                height: 80px;
                width: 80px;
                margin-right: 20px;
                background: linear-gradient(to bottom, #5f9ea0, #53c072);
                border-radius: 50%;
                color: #fff;
                text-align: center;
                transition: all 0.3s;
                font-size: 15px;
                cursor: pointer;
                border:none;
                font-family: 'Gugi', cursive;
            }


            #header .nav button:hover{
                transition: all 0.3s;
                transform: translateY(-5px);
            }

            #list-box {
                width: 800px;
                height: 500px;
                margin: auto;
                margin-top: 30px;
                overflow: auto;
                margin-bottom: 30px;
            }
            #list-box img {
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                margin-right: 40px;
            }
            .card {
                width: 700px;
                margin: auto;
                height: 140px;
                margin-bottom: 10px;
                padding: 20px;
            }
            .card .name {
                float: left;
                font-size: 24px;
                width: 320px;
            }
            .card .place {
                float: left;
                font-size: 13px;
                margin-top: 5px;
                width: 320px;
            }
            .card .review {
                width: 320px;
                margin-top: 5px;
                float: left;
            }
            .card .point {
                margin-top: -60px;
                float: left;
                width: 200px;
                text-align: center;
            }
            .card .review_btn {
                display: block;
                float: left;
                width: 140px;
                margin: 0 30px;
                margin-top: -20px;
                text-align: center;
                color: #aaa;
            }
            .card .review_btn:hover {
                color: #2ea969;
                transition: all 0.3s;
            }
            .review_text .rn {
                font-size: 18px;
                font-weight: bold;
                float: left;
                width: 70%;
            }
            .review_text .rp {
                width: 30%;
                float: left;
            }
            .review_text .rt {
                width: 70%;
                float: left;
            }
            .review_text {
                margin-bottom: 15px;
            }

            #review {
                height: 500px;
                width: 1000px;
                margin: auto;
                margin-top: 50px;
            }
            #review img {
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                margin-right: 40px;
            }
            #review .point {
                margin-top: 0px;
            }
            .review_box {
                overflow: auto;
            }
            #reviews {
                width: 80%;
                height: 50px;
                border: 1px solid #aaa;
                float: left;
                border-radius: 3px;
            }
            #score {
                width: 18%;
                margin-left: 2%;
                display: block;
                float: left;
                height: 20px;
                text-align: center;
                border: 1px solid #aaa;
                border-radius: 3px;
            }
            #r_btn {
                padding: 2px 0;
                width: 18%;
                margin-left: 2%;
                display: block;
                float: left;
                font-size: 12px;
                margin-top: 7px;
                background: #fff;
                border: 1.5px solid #2ea969;
                color: #2ea969;
                font-weight: bold;
                cursor: pointer;
            }
            #r_btn:hover {
                background: #2ea969;
                color: #fff;
                transition: all 0.1s;
            }
            /*스크롤바 제어 css*/
            ::-webkit-scrollbar {
                width: 8px; /*스크롤바의 너비*/
            }

            ::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom, #5f9ea0, #53c072);
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
            }

            /*Review css*/
            #modal{
                font-family: 'Courier New', Courier;
                font-weight: bold;
                width: 700px;
                height: 900px;
                margin: auto;
            }
            .store_info{
                position: relative;
                margin: 0px;
                display: block;
                height: 260px;
                /*background-color: #777777;*/
            }

            .store_image{
                position: absolute;
                display: block;
                width: 250px;
                height: 200px;
                margin-top: 30px;
                border-radius: 30px;
                box-shadow: 0px 0px 20px #000;
            }
            .store_name{
                display: block;
                margin-top: 100px;
                margin-left: 300px;
                position: absolute;
                width: 50%;
            }
            .store_location{
                display: block;
                margin-top: 130px;
                margin-left: 300px;
                position: absolute;
                width: 50%;

            }
            #store_score_input{
                display: block;
                margin-top: 20px;
                margin-left: 550px;
                position: relative;
                width: 100px;
                height: 40%;
                font-size: 32px;
                color: #e8344e;
                font-weight: bold;
                border: none;
            }
            .modal_bottom{
                width: 700px;
                height: 400px;
            }
            .db_table{
                width: 100%;
                height: 300px;
                border-radius: 10px;
                border-collapse: collapse;
                table-layout: fixed;
                box-shadow: 0px 0px 20px #000;
            }
            .db_table thead{
                display:block;
                /*background: linear-gradient(to left, #3CB371 , #FFE4B5);*/
                background-color: #e8344e;
                /*border: 3px solid black;*/
            }
            .db_table tbody{
                display:block;
                overflow: auto;
                width:700px;
                height: 280px;
                background-color: #ffdfd4;
                border-radius: 10px;
            }
            .db_table tbody::-webkit-scrollbar {
                width: 15px;
            }

            .db_table tbody::-webkit-scrollbar-thumb {
                background-color: mediumseagreen;
                border-radius: 20px;
            }

            .db_table tbody::-webkit-scrollbar-track {
                background-color: #ffdfd4;
                border-radius: 10px;
                box-shadow: inset 0px 0px 5px white;
            }
            .db_table th {
                padding: 5px;
                text-align: left;
                font-size: large;
                color: white;

            }
            .db_table td {
                padding: 10px;
                text-align: left;
            }
            .th_date,.td_date, .th_name, .td_name{
                width: 120px;
            }
            .th_review, .td_review{
                width: 300px;
            }
            .td_score{
                margin:0;
            }
            .go_review{
                font-weight: bold;
            }
            .input_box{
                position: absolute;
                padding: 5px;
                margin: 30px auto;
            }
            .summit_button{
                padding: 12px;
                border-radius: 10px;
                border: 4px solid;
                background-color: mediumseagreen;
                font-weight: bold;
            }
            .input_score{
                padding: 2px;
            }
            .td_score_input{
                width: 50px;
                height: 27px;
                border: none;
                font-size: large;

            }
            #inputReview{
                position: relative;
                width: 100%;
                height: 90px;
            }
            #inputReview:focus{
                outline: 3px solid mediumseagreen;
            }
            #input_top{
                display: flex;
                margin-bottom: 7px;
            }
            #input_start{
                display: flex;
                margin-bottom: 7px;
            }