<!Doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ word }} 리뷰</title>
        <!--    제이쿼리 및 부트스트랩    -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

        <!--      meta date      -->
        <meta property="og:title" content="2호선 뭐먹지?"/>
        <meta property="og:description" content="'2호선 뭐먹지?'에서 맛집을 찾아드립니다."/>
        <meta property="og:image" content="{{ url_for('static', filename='subway.png') }}"/>

        <!--    main css    -->
        <link rel="stylesheet" href="../static/css/main.css"/>

        <!--    구글폰트    -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

        <script type="text/javascript">
                function review_create() {
                        //날짜 생성 함수
                    let today = new Date();
                    let year = today.getFullYear();
                    let month = ('0' + (today.getMonth() + 1)).slice(-2);
                    let day = ('0' + today.getDate()).slice(-2);
                    let dateString = year + '-' + month + '-' + day
                    let img = $('#hideimg').text()

                    // 리뷰작성란의 추천 점수와 리뷰내용
                    let inputScore = Number($("input[name='point']:checked").val())
                    let inputReview = $('input[name=inputReview]').val()
                //리뷰작성란의 공백이 발생했을 경우 return false
                    //리뷰작성내용이 공란일경우
                    if($('#inputReview').val().length===0){ alert("리뷰를 입력해주세요").foucs();return false}
                    //리뷰추천점수가 공란일경우
                    if (inputScore == 1) {
                        window.location.reload()
                    } else if (inputScore == 2) {
                        window.location.reload()
                    } else if (inputScore == 3) {
                        window.location.reload()
                    } else if (inputScore == 4) {
                        window.location.reload()
                    } else if (inputScore == 5) {
                        window.location.reload()
                    } else {
                        alert("평점을 입력해주세요");return false
                    }

                    // 리뷰 작성값들 restaurant_review db에 저장
                    $.ajax({
                        type: "POST",
                        url: "/api/review_create",
                        data: {
                            // render template
                            shop_give: "{{ word }}",
                            img_give: img,
                            reviews_give: inputReview,
                            score_give : inputScore,
                            date_give: dateString,
                            // render template_user paylod(id)에서 user_info 1개 list
                            user_give :"{{ user_info['username'] }}"
                        },
                        success: function (response) {
                            alert(response['msg'])
                        }
                    })
                    window.location.reload()
                }
        </script>
    </head>
    <body>
    <!--  Header  -->
    <h1 class="logo">
        <button onclick="location.href='/shop'" id="home" type="button"><i>2호선, 뭐먹지?</i></button>
    </h1>
        <!--페이지 상단의 역 선택, 내정보 버튼-->
    <div id="header">
            <div class="nav">
            <!--render template_restaurant db의 stations list-->
                {%for station in stations %}
                <button onclick="location.href='/shop/{{station}}'" id="line1" type="button">{{station}}</button>
                {% endfor %}
                <button onclick="location.href='/my/reviews'" id="my_info" type="button">내 정보</button>
            </div>
    </div>

    <!--페이지 중,하단의 Review    -->
    <div id="modal">
        <!--render template_restaurant db의 shop list-->
            {% for table in shop %}
                 {% if table.name == word %}
                    {% set shop_image = table.img_url %}
                    {% set shop_name = table.name %}
                    {% set shop_address = table.address %}
                    {% set shop_like = table.like %}
       <div class="modal_top">
            <div id="apiSet">
                <p id="hideimg" style="display: none">{{ shop_image }}</p>
                <div class="store_info">
                    <img src="{{ shop_image }}" class="store_image" alt="...">
                    <p class="store_name" id="store_name">{{ shop_name }}</p>
                    <p class="store_location" id="store_location">{{ shop_address }}</p>
                    <p id="store_score_input">{{ shop_like }}점</p>
                </div>
            </div>
        </div>
                {% endif %}
            {% endfor %}

            <!-- 가게별 리뷰리스트 및 리뷰작성창 -->
        <div class="modal_bottom">
                <!--리뷰리스트 -->
            <table class="db_table" id="db_table">
                <thead>
                <tr>
                    <th class="th_date" scope="col">리뷰날짜</th>
                    <th class="th_name" scope="col">닉네임</th>
                    <th class="th_review" scope="col">리뷰평</th>
                    <th class="th_score" scope="col">추천</th>
                </tr>
                </thead>
                <tbody id="reviewUpdate">
                    <!--render template_restaurant_review db의 review list-->
                {% for page in review %}
                    {% if page.shop == word %}
                        {% set review_score = page.score %}
                        {% set review_review = page.reviews %}
                        {% set review_date = page.date %}
                        {% set review_name = page.user %}
                        <tr>
                            <th class="td_date" scope="row" style="color: black">{{ review_date }}</th>
                            <td class="td_name">{{ review_name }}</td>
                            <td class="td_review">{{ review_review }}</td>
                            <td class="td_score td_score_input">{{ review_score }}점</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                    <!--리뷰작성란 -->
                </tbody>
            </table>
            <div class="input_box">
                <div id="input_start">
                    <p class="go_review">리뷰 남기기>></p>
                </div>
                <div id="input_top">
                    <div class="input_score">
                        <label for="inputScore">추천 : </label>
                        <div id="inputScore">
                            <label for="score_1" class="score" title="1"><span>1점</span>
                                <input type="radio" name="point" id="score_1" class="star_radio" value="1">
                            </label>
                            <label for="score_2" class="score" title="2"><span>2점</span>
                                <input type="radio" name="point" id="score_2" class="star_radio" value="2">
                            </label>
                            <label for="score_3" class="score" title="3"><span>3점</span>
                                <input type="radio" name="point" id="score_3" class="star_radio" value="3">
                            </label>
                            <label for="score_4" class="score" title="4"><span>4점</span>
                                <input type="radio" name="point" id="score_4" class="star_radio" value="4">
                            </label>
                            <label for="score_5" class="score" title="5"><span>5점</span>
                                <input type="radio" name="point" id="score_5" class="star_radio" value="5">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="inputReview">
                    <label for="inputReview">리뷰평 : </label>
                    <input type="text" id="inputReview" style="border-radius: 10px" name="inputReview"> </input>
                </div>
                <!-- 버튼 클릭시 작성된 리뷰 전송-->
                <div class="summit_button_div" style="margin-left:580px ">
                        <button onclick="review_create()" class="summit_button">리뷰 올리기</button>
                </div>

            </div>
        </div>
    </div>
    </body>

</html>